<log4net>
  
  <!--1º instalar
  2º crear varable y dar la configuracion de ruta en el assemble y añadirlo en el metodo init-->
  <appender name="debug" type="log4net.Appender.DebugAppender">
    <immediateFlush value="true"/>
    <file value="ErrorLog.txt" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="ERROR" />
      <levelMax value="FATAL" />
    </filter>
  </appender>
  <root>
    <level vale="ALL" />
    <appender-ref ref="debug"/>
  </root>
  
</log4net>