<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>-->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="FileError" />
      <appender-ref ref="FileDebug" />
    </root>

    <appender name="FileError" type="log4net.Appender.FileAppender">
      <file value="ErrorLog.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <appender name="FileDebug" type="log4net.Appender.FileAppender">
      <file value="TrazasLog.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-4timestamp [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    
  </log4net>
</configuration>

